# --- Triton (Jina Embedder) Connection ---
TRITON_EMBEDDER_URL="http://localhost:6000/"

# --- vLLM OpenAI-Compatible Endpoint ---
VLLM_BASE_URL="http://localhost:5000/v1/"
VLLM_API_KEY="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" 
VLLM_MODEL_NAME="cyankiwi/Qwen3-30B-A3B-Instruct-2507-AWQ-4bit"

# --- chroma ------
CHROMA_DB_HOST="localhost"
CHROMA_DB_PORT="8443"

#--- Postgres ----
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
POSTGRES_DB="passages_db"

#--- crawler.service ----
WEBSEARCH_API_URL="http://localhost:9234/search-and-crawl"

#--- neo4j graphiti ---
NEO4J_URI="bolt+ssc://localhost:7687"
NEO4J_USER="neo4j"
NEO4J_PASSWORD="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"